# Configurações Gerais da Aplicação
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Provedor de E-mail (Resend)
RESEND_API_KEY=re_sua_chave_aqui
CONTACT_RECIPIENT_EMAIL=seu.email@email.com

# Integração com a API do GitHub
GITHUB_TOKEN=ghp_seu_personal_access_token_aqui
