# Dependências
/node_modules
/.pnpm-store

# Compilação e Builds do Next.js
/.next/
/out/
/build/
/dist/

# Variáveis de Ambiente e Chaves Privadas (Nunca enviar ao Git)
.env
.env*.local
.env.production.local
.env.development.local

# Logs e Arquivos de Diagnóstico
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema Operacional e IDEs
.DS_Store
*.pem
.vscode/
.idea/

# Cache do TypeScript e Vercel
*.tsbuildinfo
next-env.d.ts
/.vercel