# Dependências
node_modules/
.pnpm-store/

# Compilação e Builds
.next/
out/
build/
dist/

# Variáveis de Ambiente e Chaves Privadas
.env
.env*.local
.env.production.local
.env.development.local

# Logs e Diagnostics
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# SO e IDEs
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/

# Cache
*.tsbuildinfo
next-env.d.ts
.vercel/