:root{
  font-family: url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;800&display=swap');;
  --Gothic-A1: font-family: 'Gothic A1';
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--Gothic-A1);
}

body {
  background-color: aquamarine;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
footer {
  display: grid;
  place-items: center;
  align-items: center;
  height: 120px;
  border: 0px;
  margin: 0px;
  background-color: blueviolet;
}

 
p {
  text-decoration: none;
  font-size: 1.2em;
}
 
a {
  text-decoration: none;
  color: black;
}
 
 section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}
 
 h1,h2 {
  font-size: 2.3em;
}
 
 #menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar{
  background-color: blueviolet;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 130px;
  align-items: center;
  font-size: larger;
  gap: 1.5em;
}

.navegar{
  display: flex;
  place-items: cen;
  align-items: center;
  width: 650px;
  height: 33px;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
}

 .subtittlecustom {
  font-size: 1.6em;
}
 
 .hidden {
  opacity: 0;
  filter: blur(6px);
  transform: translateX(-100%);
  transition: all 1.5s;
}
 
 .show {
   opacity: 1;
   filter: blur(0px);
   transform: translateX(0%);
   transition: all 1.5s;
 }


.asociali {
  display: flex;
  place-items: center;
  align-items: center;
}

.sociali {
  transform: translateY(-100%);
  transition: all 1.5s;
}

.avatar {
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
}

.asociali :nth-child(2) {
  transition-delay: 100ms;
}

.asociali :nth-child(2) {
  transition-delay: 400ms;
}

.asociali :nth-child(3) {
  transition-delay: 700ms;
}

.asociali :nth-child(4) {
  transition-delay: 1s;
}