@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;800&display=swap');

:root{
  --Gothic-A1: 'Gothic A1', sans-serif;
  --nav: #3F3D99;
  --main: #6B7CBF;
  --footerc: #1A218E;
  --fontct: #D8CCED;
  --fontch: #2D2F59;
  --fontcp: #D8C7E8;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--Gothic-A1);
}

body {
  background-color: var(--main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
footer {
  display: grid;
  place-items: center;
  align-items: center;
  background-color: var(--footerc);
  min-height: 15vh;
}

 
p {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--fontcp);
}
 
a {
  text-decoration: none;
  color: var(--fontct);
}
 
 section {
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
}
 
 h1,h2 {
  font-size: 2.3em;
  color: var(--fontch);
}
 
 #menu {
  display: grid;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 15vh;/*Move for up (7vh) after scroll*/
}

.nav-bar{
  background-color: var(--nav);
  height: 50px;
  padding-right: 130px;
  align-items: center;
  font-size: larger;
  gap: 1.5em;
}

.navegar{
  display: flex;
  place-items: cen;
  align-items: center;
  width: 650px;
  height: 33px;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: nowrap;
}

 .subtittlecustom {
  font-size: 1.6em;
}
 
 .hidden {
  opacity: 0;
  filter: blur(6px);
  transform: translateX(-100%);
  transition: all 1.5s;
}
 
 .show {
   opacity: 1;
   filter: blur(0px);
   transform: translateX(0%);
   transition: all 1.5s;
 }


.asociali {
  display: flex;
  place-items: center;
  align-items: center;
}

.sociali {
  transform: translateY(-100%);
  transition: all 1.5s;
}

.avatar {
  height: 50px;
  background-color: #fff;
  border-radius: 15px;
}

.asociali :nth-child(2) {
  transition-delay: 100ms;
}

.asociali :nth-child(2) {
  transition-delay: 400ms;
}

.asociali :nth-child(3) {
  transition-delay: 700ms;
}

.asociali :nth-child(4) {
  transition-delay: 1s;
}